{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'work:employee_list' %}">Funcionários</a></h2>

<ul>
    {% for ee in object_list %}
    <li>{{ ee }}
        <form action="{% url 'work:employee_edit' ee.matr %}" method="get">
            <button type="submit">Editar</button>
        </form>
        <form action="{% url 'work:employee_delete' ee.matr %}" method="post">{% csrf_token %}
            <button type="submit">Deletar</button>
        </form>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'work:employee_new' %}">Adicionar</a>

{% endblock %}