{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'work:item_list' %}">Item</a></h2>

<ul>
    {% for ee in object_list %}
    <li>{{ ee }}
        <form action="{% url 'work:item_edit' ee.id_item %}" method="get">
            <button type="submit">Editar</button>
        </form>
        <form action="{% url 'work:item_delete' ee.id_item %}" method="post">{% csrf_token %}
            <button type="submit">Deletar</button>
        </form>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'work:item_new' %}">Adicionar</a>

{% endblock %}