{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'work:service_list' %}">Serviços</a></h2>

<ul>
    {% for ee in object_list %}
    <li>{{ ee }}
        <form action="{% url 'work:service_edit' ee.id_ser %}" method="get">
            <button type="submit">Editar</button>
        </form>
        <form action="{% url 'work:service_delete' ee.id_ser %}" method="post">{% csrf_token %}
            <button type="submit">Deletar</button>
        </form>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'work:service_new' %}">Adicionar</a>

{% endblock %}